adjustText
beautifulsoup4
billboard.py
gensim
hdbscan
huggingface-hub
keybert
lyricsgenius
matplotlib
nltk
numpy
pandas
plotly
requests
scikit-learn
scipy
sentence-transformers
sentencepiece
spotipy
tokenizers
torch
torchvision
tqdm
transformers
tzdata
wordcloud
pandas